@import "@fontsource/fira-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

picture {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

audio {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #89b4fa;
  text-decoration: none;
}

a:hover {
  color: #a855f7;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: inline-block;
  vertical-align: baseline;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-column {
  display: flex;
  max-width: 48rem;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

label {
  margin-top: 1em;
  margin-left: 25%;
  margin-right: 25%;
}
